<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ooops!</title>
</head>
<style>
    body {
        background: #db9c00;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        text-align: center;
    }

    .title {
        color: #fff;
        font-size: 5em;
    }

    .sub-title {
        color: #fff;
        font-size: 1.3em;
    }

    .emoji {
        font-size: 300px;
    }
</style>
<body>
<div class="container">
    <div class="emoji">🫠</div>
    <h1 class="title">Oh no!</h1>
    <p class="sub-title">We couldn't find the requested path: {{path}}</p>
</div>
</body>
</html>