<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowban</title>
</head>
<style>
    body {
        background: #1a6875;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .container {
        text-align: center;
    }

    .title {
        color: #fff;
        font-size: 5em;
    }

    .sub-title {
        color: #fff;
        font-size: 1.3em;
    }

    .emoji {
        font-size: 300px;
    }
</style>
<body>
<div class="container">
    <div class="emoji">🥳</div>
    <h1 class="title">Flowban API</h1>
    <p class="sub-title">Hello {{first_name}} {{last_name}} 😊</p>
    <h2>Endpoints</h2>
    <h3>Users</h3>
    <pre>GET /api/users
POST /api/users</pre>
</div>
</body>
</html>